# fly.toml app configuration file generated for express-project-ifm6fa on 2025-11-26T16:12:33Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'express-project-ifm6fa'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
